* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main-header {
    background-color: turquoise;
    width: 100%;
    padding: 10px 5px;
}

.main-header>div {
    display: inline-block;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 54px);
}

.nav-items {
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline-block;
    margin: 5px;
}

.main-header a {
    color: white;
}

a {
    text-decoration: none;
}

#signup-form {
    width: 100%;
    display: none;
   
}

#login-form{
    /* width: 100%; */
    display: block;
    height: 300px;

}

.form-pos {
    text-align: center;
    margin: auto;
    margin-top: 15%;
    width: 520px;
}

.form-data {
    display: block;
    padding: 20px;
    margin:   auto;
    margin-bottom: 15px;
    width: 100%;
}

.submit {
    margin: auto ;
}

#logout_item {
    display: none;
}
